#box3 {
  width: 16.8%;
  height: 15.5%;
}

#box4 {
  width: 13.9%;
  height: 8.4%;
}

#box5 {
  width: 16.8%;
  height: 9.9%;
}

#box6 {
  width: 12.1%;
  height: 7.1%;
}

#box7 {
  width: 8.8%;
  height: 7.5%;
}

#box8 {
  width: 28.55%;
  height: 18.1%;
}
#box9 {
  width: 15.53%;
  height: 6.61%;
}
#box10 {
  width: 35.96%;
  height: 2.47%;
}
#box11 {
  width: 12.8%;
  height: 3.22%;
}
#box12 {
  width: 10.01%;
  height: 8.05%;
}
#box13 {
  width: 12.37%;
  height: 18.35%;
}
#box14 {
  width: 36.02%;
  height: 2.68%;
}
#boxt2 {
  width: 31.85%;
  height: 2.43%;
}
#boxc1 {
  width: 46.82%;
  height: 40.41%;
}
#boxNav {
  width: 11.9%;
  height: 3.5%;
}
